
<div id="loginPopup" class="dropdown-content mod-css-report">

    <div class="row">
        <div class="col-md-3">
            <section id="loginForm">
                <div class="row">
                    <div class="col-xs-6">
                        <label for="name">Name</label>
                    </div>
                    <div class="col-xs-6">
                        <input type="text" id="name" name="name" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <label for="password">Password</label>
                    </div>
                    <div class="col-xs-6">
                        <input type="password" id="password" name="password" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn btn-blue"  id="Login" value="Login">Login</button>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-4"></div>
    </div>

    @*<div class="row margin-10">
        <div class="col-sm-6 padding-10 text-right">
            <button ng-click="vm.showFieldsChecklist()" class="btn btn-blue shutter-out-vertical"><i class="fa fa-check"></i><span class="hidden-xs"> @Html.Translate(LKey.DFNotice.Label.FinishedTheSelection)</span></button>
        </div>
        <div class="col-sm-6 padding-10 text-left">
            <button ng-click="vm.reset('group')" ng-disabled="vm.isLoading" class="btn btn-darkorange shutter-out-vertical"><i class="fa fa-times"></i> <span class="hidden-xs">@Html.Translate(LKey.DFNotice.Label.Reset)</span></button>
        </div>
    </div>*@
</div>

