body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.main-content {
    min-height: 750px;
}

.headingButton {
    padding: 2px 4px 2px 4px;
    width: 15%;
}

    .headingButton a {
        color: white;
        text-align: center;
        text-decoration: none !important;
    }

.dataTables_filter {
    float: right;
    padding-right: inherit;
}

.dataTables_length {
    padding-left: inherit;
}

td {
    text-align: center;
}

th {
    text-align: center;
}

tr.selected {
    background-color: lightcyan;
}

.validationErrorMessage {
    color: red;
    font-size: 12px;
}

.input-group-addon-clean {
    background-color: transparent;
    border: none;
}

.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
    pointer-events: none; /* This makes sure that we can still click outside of the modal to close it */
}

.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}

.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width: inherit;
    height: inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}

span.glyphicon-plus-sign {
    font-size: 1.2em;
}



.dropdown-content {
    display: none;
    position: absolute;
    top: 10px;
    right: -200px;
    /*background-color: #F9C99E;*/
    background-color: azure;
    min-width: 600px;
    z-index: 9999;
    margin-bottom: 100px;
    float: left;
    width:150px;
    padding:10px;
}

.dropbtn {
    background-color: #F5AF70;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #F5AF70;
}
